@import url("./reset.css");
@import url("./utilities.css");
@import url("./components.css");

.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    margin: 20px 0;
}

.main-container article {
    background-color: lightgrey;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 0.9rem;
}

.main-container article .left{
    text-align: right;
}
.main-container article .left .small{
    font-size: 0.9rem;
}
